.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left;
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url('/assets/homeImage.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px 5%;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.para {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.fing {
  color: orange;
  display: block;
  margin-top: 5px;
}


.search-box {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin-top: 15px;
}



@media (max-width: 1024px) {
  .hero {
    align-items: center;
    text-align: center;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .para {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .para {
    font-size: 2rem;
  }

  .search-box {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .para {
    font-size: 1.8rem;
  }

  .search-box {
    width: 80%;
  }
}