.login, .signup{
  background: url('https://blog.libraryhotelcollection.com/core/_assets/uploads/2021/10/pexels-karolina-grabowska-5718104-scaled-e1635194206615.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;  /* Ensures it takes full viewport height */
    width: 100%;  /* Allows it to adjust width properly */
}

/* Form Containers */
.login-form, .signup-form {
  width: 90%;
  max-width: 25rem;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
  background: white;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  }
  
  /* Form Headings */
  .login-form h2, .signup-form h2{
    font-size: 1.625rem;
    margin-bottom: 1rem;
    color: #ff8c00; /* Orange color */
    font-weight: bold;
  }
  
  /* Input Fields */
  .login-form input, .signup-form input{
    width: 100%;
    padding: 0.875rem;
    margin: 0.625rem 0;
    border: 0.063rem solid #ccc;
    border-radius: 0.625rem;
    background: #f0f0f0;
    font-size: 1rem;
  }

  
  
  .login-button, .signup-button {
  width: 100%;
  padding: 0.875rem;
  background-color: #e68900;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  cursor: pointer;
  transition: 0.3s;
  }
  
  .signup-button:hover {
    background-color: #e07b00;
  }
  
  .signup-form p, .login-form p {
    margin-top: 0.625rem;
    font-size: 0.875rem;
    color: #555;
  }
  
  .login-link, .signup-link {
    color: orange;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login-link:hover, .signup-link:hover {
    color: grey;
  }
  
  /* Responsive Styles (Tablets & Mobiles) */
  @media (max-width: 48rem) {
  .login-form, .signup-form {
    width: 95%;
  }
  }
  