.seller-orders{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.seller-orders-card{
  width: 40%;
  background-color: rgb(159, 159, 159);
}

.orders-h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}