.order-history-container {
    padding: 24px;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
  
  .website-name {
    font-size: 24px;
    color: orange;
    font-weight: bold;
    cursor: pointer; /* Makes it clear it's clickable */
  }
  
  .website-name:hover {
    color: grey;
  }
  
  .search-box {
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 250px;
    margin-right: 1vw;
  }
  
  .button-container {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .nav-button {
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    flex: 1;
    min-width: 150px;
    text-align: center;
  }
  
  .orders-button {
    background-color:#6c757d;
  }
  
  .home-button {
    background-color: #6c757d;
  }
  
  .order-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
  
  .order-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .order-total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .order-info {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .order-status {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .preparing {
    color: orange;
  }
  
  .delivered {
    color: green;
  }
  
  .pending {
    color: blue;
  }
  
  .canceled {
    color: red;
  }

  .accept-order-button {
    background-color: green;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .update-status-button {
    background-color: orange;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .reject-order-button {
    background-color: red;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .top-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-box {
      width: 100%;
    }
  
    .button-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .nav-button {
      width: 100%;
    }
  }
