.menu-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.menu-sidebar {
  width: 20%;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.menu-sidebar select, .sidebar ul {
  width: 100%;
  margin-top: 10px;
}

.menu-sidebar ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.menu-sidebar ul li.active {
  background: orange;
  color: white;
  border-radius: 4px;
}

main.menu-main {
  flex: 1;
}

.menu-items {
  margin-top: 10px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.menu-item button {
  background: orange;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart {
  width: 35%;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.cart-items{
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  margin: 4px 0;
}

.cart-items-heading{
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  font-weight: bold;
  margin: 10px 0;
  font-size: large;
}

.cart-items .quantity{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-items, .cart-items-heading{
  text-align: center;
}

.cart-items .quantity .plus, .minus{
  border: 1px solid black;
  /* padding: 0px 6px; */
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout {
  background: black;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
